HelloWorldWS/wsdl/HelloWorldImpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://example.ciandt.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://example.ciandt.com" xmlns:intf="http://example.ciandt.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://example.ciandt.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="printMessage">
    <complexType>
     <sequence>
      <element name="name" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="printMessageResponse">
    <complexType>
     <sequence>
      <element name="printMessageReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="printMessageResponse">

      <wsdl:part element="impl:printMessageResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="printMessageRequest">

      <wsdl:part element="impl:printMessage" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="HelloWorldImpl">

      <wsdl:operation name="printMessage">

         <wsdl:input message="impl:printMessageRequest" name="printMessageRequest">

       </wsdl:input>

         <wsdl:output message="impl:printMessageResponse" name="printMessageResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="HelloWorldImplSoapBinding" type="impl:HelloWorldImpl">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="printMessage">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="printMessageRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="printMessageResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="HelloWorldImplService">

      <wsdl:port binding="impl:HelloWorldImplSoapBinding" name="HelloWorldImpl">

         <wsdlsoap:address location="http://localhost:8080/HelloWorldWS/services/HelloWorldImpl"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
